<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">

    <context:component-scan base-package="cn.cdw"><!--只扫描springMVC相关bean-->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> <!--页面访问快捷设定-->
        <property name="prefix" value="/WEB-INF/pages/"/><!--设置访问页面路径的前缀-->
        <property name="suffix" value=".jsp"/><!--设置访问页面路径的后缀-->
    </bean>

</beans>