<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvd="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
">

    <mvc:annotation-driven/><!--响应json格式数据需要开启springMVC注解驱动-->

    <context:component-scan base-package="cn.cdw"><!--只扫描springMVC相关bean-->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <mvc:interceptors><!--配置拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/test1"/> <!--配置拦截controller的路径-->
            <bean class="cn.cdw.interceptor.MyInterceptor"/><!--指定我自定义的拦截器-->
        </mvc:interceptor>
    </mvc:interceptors>
</beans>